{% extends "base.html" %} {% block main_content %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <form class="form-inline" action="#">
        <input type="text" name="key" id="key" value="{{ request.args.get('key') if request.args.get('key') }}" class="form-control">
        {# value="{{ request.args.get('key') 为了保留搜索的文字#}
        <input type="submit" class="btn btn-default" value="搜索">
      </form>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th>主题</th>
          <th>分类</th>
          <th>用户</th>
          <th>邮箱</th>
          <th>处理状态</th>
          <th>提交时间</th>
          <th>操作</th>
        </tr>
        {% for item in items %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.Subject }}</td>
          <td>{{ '产品质量' if item.CategoryID == 1 else '客户服务' if item.CategoryID == 2 else '购买支付' }}</td>
          <td>{{ item.Username }}</td>
          <td>{{ item.Email }}</td>
          <td><span class="label label-{{'danger' if item.State == 0 else 'success' }}">{{ '待处理' if item.State == 0 else '已处理' }}</span></td>
          <td>{{ item.ReleaseTime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          <td>
            <a href="#" class="btn btn-default btn-xs" title="查看"><i class="fa fa-search"></i></a>
            <a href="{{ url_for('back.edit_feedback',id=item.ID)}}" class="btn btn-default btn-xs" title="编辑"><i class="fa fa-pencil"></i></a>
            <a href="{{ url_for('back.delete_feedback',id = item.ID) }}" class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
